@charset "UTF-8";

/* 전페이지 공통 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {font-family: 'GmarketSansMedium'; font-weight: 400;}
/* body {background-color: #111;} */

/* 서브 공통 S */
#wrap {display: flex; max-width: 1400px; width: calc(100% - 40px); flex-flow: row wrap; justify-content: space-between; margin: 50px auto;}
#subNav {max-width: 200px; width: 14.3%;}
#subNav > h3 {font-size: 25px; font-weight: bold; text-align: center;}
#subNav > ul {margin-top: 15px;}
#subNav > ul li {border-bottom: 1px solid #eee; transition: all 0.3s;}
#subNav > ul li a {font-size: 22px; display: block; padding: 15px 20px 10px; text-align: left; line-height: 1; transition: all 0.3s;}

/* 해당페이지 일때 */
#subNav > ul li.current,
#subNav > ul li:hover {background-color: #111;}
#subNav > ul li.current a,
#subNav > ul li:hover a {color: #fff; font-weight: bold;}

#main {max-width: 1100px; width: 78.6%;}
#main > h3 {font-size: 25px; font-weight: bold; margin-bottom: 30px; border-bottom: 1px solid #121212; padding-bottom: 15px; line-height: 1; display: flex; flex-flow: row wrap; justify-content: space-between;}
#main > h3 .btnWrap {font-size: 16px; align-self: flex-end;}
/* 서브 공통 E */

/* floor 페이지 S */
.floorInfo {display: flex; flex-flow: row wrap; justify-content: space-between;}
.floorInfo .floorNav {max-width: 200px; width: 18.2%;}
.floorInfo .floorNav li {border-bottom: 1px solid #eee;}
.floorInfo .floorNav li a {font-size: 20px; font-weight: 400; display: block; padding: 15px 20px 10px; line-height: 1;}

/* 해당층일떄 */
.floorInfo .floorNav li.current,
.floorInfo .floorNav li:hover {background-color: #111;}
.floorInfo .floorNav li.current a,
.floorInfo .floorNav li:hover a {color: #fff; font-weight: bold;}

.floorContent {max-width: 800px; width: 72.8%;}
.floorContent .section {margin-bottom: 30px;}
.floorContent .section h4 {font-size: 18px; font-weight: bold; margin-bottom: 10px;}
.floorContent .section p {display: flex; justify-content: space-between; font-size: 16px; color: #333; padding: 16px 0; border-bottom: 1px solid #eee;}
.floorContent .section span {}
.floorContent .section span.brand {}
.floorContent .section span.brandTel

/* floor 페이지 E */

/* floor 등록 S */
.floorWriteWrap h4 {font-size: 20px;}
/* floor 등록 E */