/*메인폰트 : G마켓 산스*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'GmarketSansMedium';
    font-size: 18px;
}
body{
    background-color: #fff;
}
/*헤더 시작*/
#header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999;
}
#headerWrap{
    width: calc(100% - 480px);
    min-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 70px;
}
/*nav 왼쪽*/
#leftHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 130px;
    height: 30px;
    margin-right: 10px;
    color: #333;
}
#gnv{
    display: flex;
}
#gnv>li{
    padding: 0 16px;
}
#gnv>li>a{
    color:#333;
}
#gnv>li>a:hover{
    color:#f1e239;
    text-decoration: underline;
    text-underline-offset : 8px;
    font-weight: bold;
}
/*nav 오른쪽*/
#memberServices{
    display: flex;
    align-items: center;
}
#memberServices>li{
    padding: 0 8px;
}
#memberServices>li>a{
    font-size: 13px;
    color: #adadad;
}
#memberServices>li>a:hover{
    color: #333;
    text-decoration: underline;
    text-underline-offset : 5px;
}
#search{
    background-color: #121212;
    height: 70px;
    width: 210px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search>span{
    font-size: 24px;
    margin-right: 4px;
    color:#fff;
}
/*로그인 모달*/
#loginBg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}
#loginWrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 800px;
    background-color: #fff;
    z-index: 1000;
    display: none;
}
#loginWrap>h3{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
#closeBtn{
    position: absolute;
    top:10px;
    right:10px;
}
#loginBox{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    padding-top: 40px;
    border-top: 3px solid #333;
}
#loginBox>form>input[type="text"],#loginBox>form>input[type="password"]{
    border: 1px solid #eaeaea;
    width: 458px;
    height: 50px;
    padding: 0 20px;
    margin-top: 12px;
    margin-bottom: 24px;
    border-radius: 4px;
}
#loginBox>form>input::placeholder{
    color:#dfdfdf;
}
#loginList{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 60px 0;
}
#loginList>li>a{
    font-size: 14px;
    color:#8a8a8a
}
#loginList>li>a:hover{
    color:#333;
    text-decoration: underline;
    text-underline-offset : 4px;
}
#loginBox>form>input[type="button"]{
    width: 458px;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
}
#login{
    background-color: #121212;
    color: #fff;
}
#fastLogin{
    background-color: #f1e239;
}
#otpLogin{
    border: 1px solid #adadad;
}