#bannerWrap {
    padding-top: 70px;
}

#mainBanner {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

#mainBanner .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

#mainBanner .slide img {width: 100%; display: block;}

#mainBanner .slide.active {
    opacity: 1;
    visibility: visible;
}